/*index.css*/

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    color: var(--main-text-color);
    user-select: none;

    /*smooth changing image background transition*/
    -webkit-transition: background-image 2.2s ease-in-out;
    -moz-transition: background-image 2.2s ease-in-out;
    transition: background-image 2.2s ease-in-out;
    background-color: var(--main-bc);
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-attachment: fixed;
}

h1, h2 {
    padding: 10px;
}

a {
    color: var(--light-gray);
}

button {
    font-size: calc(1.2rem + 1vh);
    font-variant: small-caps;
    width: max-content;
    height: max-content;
    padding: 1.2rem 2rem;
    margin: 1rem;
    outline: none;
    border: 2px solid transparent;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;

    background-color: transparent;
    color: var(--light-gray);
    text-shadow: 3px 3px 6px rgba(255, 255, 255, .5);
    letter-spacing: 3px;
}


button:hover,
button:focus {
    border-color: var(--blue-light);
    text-shadow: 3px 3px 5px rgba(255, 255, 255, .6);
    box-shadow: 2px 3px 58px 5px rgba(255, 255, 255, .24);
    background-color: rgba(0, 0, 0, 0.12);
    transition: all 0.23s ease-in-out;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    transition: height 1s, opacity 1.2s, background-color 2s;
}

.welcome .background-fx {
    z-index: -1;
    position: fixed;
    background-color: rgba(0, 0, 0, .25);
    border-top: 2px solid rgba(0, 212, 255, 0.75);
    border-bottom: 4px solid rgba(0, 212, 255, 0.85);
    box-shadow: 0 0 500px rgba(0, 212, 255, .45);
    left: -42.5%;
    width: 200%;
    height: 109%;
    transition: transform 1s, background-color 5s, height 2.6s, border-top-color 3s, border-bottom-color 3s;
    transform: rotateZ(30deg);
}

.welcome .signature {
    transform: translateY(-1000%);
    margin: 50px;
    max-width: 900px;
    transition: margin-bottom 0.2s, transform 0.5s, filter 2s;
}

.welcome .buttons {
    transition: transform 0.7s;
    transform: translateY(1000%);
    display: flex;
    margin: 20px 0 100px;
}

.welcome .buttons button {
    width: calc(calc(1rem + 1vh) * 9);
}

.welcome .punch-line {
    display: none;
    transition: opacity 4.5s;
    opacity: 0;
    margin: 20px 10px 10px 41px;
    color: var(--dark-gray);
    transform: skewX(6deg);
}

.welcome.has-been-clicked {
    flex-direction: row;
    position: fixed;
    top: 0;
    height: 130px;
}

.welcome.has-been-clicked .signature {
    height: 62px;
    margin: 25px 25px 10px 25px;
}

.welcome.has-been-clicked .signature:hover {
    transform: rotateZ(0);
}

.welcome.has-been-clicked .background-fx {
    left: -100%;
    transform: rotateZ(135deg);
    background-color: rgba(0, 0, 0, .47);
}

.welcome.has-been-clicked .logo-container {
    margin-top: 200px;
    transition: transform 1.8s;
    transform: rotateZ(-45deg);
}

.welcome.has-been-clicked .punch-line.shown {
    opacity: 1;
}

.welcome.has-been-clicked .buttons {
    display: none;
}

/*main slide-show styled content presentation*/
.content {
    transform: translateY(100%) scale(0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}

.content.shown {
    transition: transform 1s, width 0.4s;
    will-change: transform;
    transform: translateY(0) scale(1, 1);
}

.card {
    width: 30%;
    min-width: max-content;
    max-width: 90%;
    background-color: rgba(0, 0, 0, 0.27);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 20px 0;
}

.card:hover {
    background-color: transparent;
    transition: none;
    border-color: transparent;
}

.card button:first-of-type {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
}

.card .card-title {
    display: none;
    border-radius: 5px;
    color: black;
    text-align: center;
    font-variant: small-caps;
}

.card .card-body {
    display: none;
    padding: 0 15px 20px 15px;
}

.card .card-body h2 {
    margin-top: 25px;
}

.card .card-body ul {
    list-style: none;
    margin: 0 10px 10px 10px;
}

.card .card-body li {
    font-size: 1.1rem;
    margin: 5px 0;
    color: var(--light-gray);
}

.card .card-body li a {
    color: var(--blue-lighter);
}

.card .card-body .email-adress {
    color: var(--blue-lighter);
}

.card.selected {
    transition: background-color 0.6s, border-color 2s;
    margin: 80px 0;
    background-color: rgba(0, 0, 0, 0.39);
    border-color: rgba(255, 255, 255, 0.14);
}

.card.selected:hover {
    border-color: rgba(255, 255, 255, 0.24);
    background-color: rgba(0, 0, 0, 0.57);
}

.card.selected button:first-of-type {
    display: none;
}

.card.selected .card-title {
    display: block;
    border-radius: 11px 11px 0 0;
    background-color: var(--blue-green);
    padding: 1rem 0;
}

.card.selected .card-body {
    display: block;
}
