/*index.css*/

:root {
    --main-bc: black;
    --main-text-color: white;
    --drop-shadow-color: rgba(50, 50, 250, .92);
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100vh;
}

body {
    font-family: 'Amiko', sans-serif, Verdana;
    box-sizing: border-box;
    color: var(--main-text-color);
    user-select: none;

    /*smooth changing image background transition*/
    -webkit-transition: background-image 1.8s ease-in-out;
    -moz-transition: background-image 1.8s ease-in-out;
    transition: background-image 1.8s ease-in-out;
    background-color: var(--main-bc);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-image: url("images/bg1.png");
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /*reduce body background img opacity*/
    backdrop-filter: opacity(67%);
    -webkit-backdrop-filter: opacity(67%);
}

.welcome .signature {
    max-width: 900px;
    transition: filter 3s ease-in-out;
    /*-webkit-animation: DROP-SHADOW-ANIMATION 3s infinite ease-in-out; !* Safari 4+ *!*/
    /*-moz-animation: DROP-SHADOW-ANIMATION 3s infinite ease-in-out; !* Fx 1+ *!*/
    /*-o-animation: DROP-SHADOW-ANIMATION 3s infinite ease-in-out; !* Opera 12+ *!*/
    /*animation: DROP-SHADOW-ANIMATION 3s infinite ease-in-out; !* IE 10+, Fx 29+ *!*/
}

/*@-webkit-keyframes DROP-SHADOW-ANIMATION {*/
/*    0%, 100% {*/
/*        filter: drop-shadow(0.35rem 0.35rem 0.6rem rgba(20, 20, 255, .22));*/
/*    }*/
/*    50% {*/
/*        filter: drop-shadow(0.35rem 0.35rem 0.6rem var(--drop-shadow-color));*/
/*    }*/
/*}*/

/*@-moz-keyframes DROP-SHADOW-ANIMATION {*/
/*    0%, 100% {*/
/*        filter: drop-shadow(0.35rem 0.35rem 0.6rem rgba(20, 20, 255, .22));*/
/*    }*/
/*    50% {*/
/*        filter: drop-shadow(0.35rem 0.35rem 0.6rem var(--drop-shadow-color));*/
/*    }*/
/*}*/

/*@-o-keyframes DROP-SHADOW-ANIMATION {*/
/*    0%, 100% {*/
/*        filter: drop-shadow(0.35rem 0.35rem 0.6rem rgba(20, 20, 255, .22));*/
/*    }*/
/*    50% {*/
/*        filter: drop-shadow(0.35rem 0.35rem 0.6rem var(--drop-shadow-color));*/
/*    }*/
/*}*/

/*@keyframes DROP-SHADOW-ANIMATION {*/
/*    0%, 100% {*/
/*        filter: drop-shadow(0.35rem 0.35rem 0.6rem rgba(20, 20, 255, .22));*/
/*    }*/
/*    50% {*/
/*        filter: drop-shadow(0.35rem 0.35rem 0.6rem var(--drop-shadow-color));*/
/*    }*/
/*}*/

.welcome .buttons {
    display: flex;
    margin-top: 40px;
}

.welcome .buttons button {
    font-size: calc(1rem + 1vh);
    font-variant: small-caps;
    width: calc(calc(1rem + 1vh) * 8);
    height: max-content;
    padding: 1rem 2rem;
    margin: 0.6rem;
    outline: none;
    border: 2px solid transparent;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;

    background-color: transparent;
    color: whitesmoke;
    text-shadow: 3px 3px 6px rgba(255, 255, 255, .5);
    letter-spacing: 2px;
}


.welcome .buttons button:hover,
.welcome .buttons button:focus {
    border-color: dodgerblue;
    text-shadow: 3px 3px 5px rgba(255, 255, 255, .6);
    box-shadow: 2px 3px 58px 5px rgba(255, 255, 255, .22);
}