/*index.css*/

:root {
    --main-bc: #000000;
    --main-text-color: white;
    --light-gray: rgba(255, 255, 255, 0.84);
    --dark-gray: rgba(255, 255, 255, 0.6);
    --card-title-bg: #1058ff;
    --scrollbar-width: 4px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100vh;
    overflow: hidden;
}

body {
    /*font-family: "Arial", sans-serif;*/
    box-sizing: border-box;
    color: var(--main-text-color);
    user-select: none;

    /*smooth changing image background transition*/
    -webkit-transition: background-image 2.2s ease-in-out;
    -moz-transition: background-image 2.2s ease-in-out;
    transition: background-image 2.2s ease-in-out;
    background-color: var(--main-bc);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}

a {
    color: var(--light-gray);
}

h1, h2 {
    padding: 10px;
}

button {
    font-size: calc(1rem + 1vh);
    font-variant: small-caps;
    width: max-content;
    height: max-content;
    padding: 1rem 2rem;
    margin: 0.6rem;
    outline: none;
    border: 2px solid transparent;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;

    background-color: transparent;
    color: whitesmoke;
    text-shadow: 3px 3px 6px rgba(255, 255, 255, .5);
    letter-spacing: 2px;
}


button:hover,
button:focus {
    border-color: var(--card-title-bg);
    text-shadow: 3px 3px 5px rgba(255, 255, 255, .6);
    box-shadow: 2px 3px 58px 5px rgba(255, 255, 255, .24);
}

::selection {
    color: black;
    background-color: white;
}

::-moz-selection {
    color: black;
    background-color: white;
}

/* width */
::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track {
    background: #141414;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0000aa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1515f5;
}

.welcome {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /*reduce body background img opacity*/
    backdrop-filter: opacity(64%);
    -webkit-backdrop-filter: opacity(64%);

    transition: height 1s, opacity 1.2s;
}

.welcome .punch-line {
    display: none;
    transition: opacity 4s;
    opacity: 0;
    margin: 10px 10px 10px 22px;
    color: var(--dark-gray);
}

.welcome .signature {
    transform: translateY(-1000%);

    margin: 20px;
    max-width: 900px;
    transition: filter 3s ease-in-out, margin-bottom 0.2s, transform 0.6s;
}

.welcome .buttons {
    transition: transform 0.5s;
    transform: translateY(1000%);
    display: flex;
    margin-top: 30px;
}

.welcome .buttons button {
    width: calc(calc(1rem + 1vh) * 9);
}

.welcome.navbar {
    flex-direction: row;
    /*justify-content: flex-start;*/
    position: fixed;
    top: 0;
    height: 100px;

    /*transition: height 1s, opacity 1.1s;*/
}

.welcome.navbar .punch-line.shown {
    opacity: 1;
}

.welcome.navbar .signature {
    height: 60px;
    margin: 20px 20px 5px 20px;
}

.welcome.navbar button {
    display: none;
}

/*main slide-show styled content presentation*/
.content {
    transform: translateY(100%) scale(0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.content.shown {
    transition: transform 1s, width 0.4s;
    will-change: transform;
    transform: translateY(0) scale(1, 1);
}

.card {
    width: 25%;
    min-width: max-content;
    max-width: 90%;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 10px 0;
}

.card:hover {
    background-color: transparent;
    transition: none;
    border-color: transparent;
}

.card button:first-of-type {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
}

.card .card-title {
    display: none;
    border-radius: 5px;
    color: black;
    text-align: center;
    font-variant: small-caps;
}

.card .card-body {
    display: none;
    padding: 0 15px 20px 15px;
}

.card .card-body h2 {
    margin-top: 25px;
}

.card .card-body ul {
    list-style: none;
    margin: 0 10px 10px 10px;
}

.card .card-body li {
    font-size: 1.1rem;
    margin: 5px 0;
    color: var(--light-gray);
}

.card.selected {
    transition: background-color 0.6s, border-color 2s;
    margin: 80px;
}

.card.selected:hover {
    border-color: rgba(255, 255, 255, 0.24);
    background-color: rgba(0, 0, 0, 0.56);
}

.card.selected button:first-of-type {
    display: none;
}

.card.selected .card-title {
    display: block;
    border-radius: 11px 11px 0 0;
    background-color: var(--card-title-bg);
}

.card.selected .card-body {
    display: block;
}
